<!--<h1>Public::Searches#search</h1>-->
<!--<p>Find me in app/views/public/searches/search.html.erb</p>-->

<% if @model == 'genre' %>
  <%= render '/buy_items', genres: @records %><!--public/buy_items#index-->
<% elsif @model == 'item' %>
  <%= render '/buy_items', items: @records %><!--public/buy_items#index-->
<% end %>