<!--<h1>Public::Searches#search</h1>-->
<!--<p>Find me in app/views/public/searches/search.html.erb</p>-->

<!--genre/itemどちらで検索しても結果内容は同じなのでif文で分けなくてOK-->
<%= render '/public/buy_items/index', items: @records %><!--検索結果を表示する画面-->
