<!--<h1>Public::Homes#about</h1>-->
<!--<p>Find me in app/views/public/homes/about.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　About あらめ屋　</span></h2>
<br>
  <table class="mx-auto">
    <tr><!--height="50"-->
      <th width="250" class="d-flex align-items-start">サイト概要</th>
      <td>簡単にインターネット経由で売買ができ、安心・安全な取引ができるECサイト開発。<br><br></td>
    </tr>
    <tr>
      <th class="d-flex align-items-start">会員ができること</th>
      <td>
        自らさまざまなジャンルの商品販売・購入ができる。<br>
        販売では商品登録のほか、円滑な取引をするために会員同士でメッセージのやりとりができる。(予定)<br>
        購入ではジャンル名、商品名で検索できる。また、購入した商品にレビューや評価をつけることができる。(予定)<br>
        売買に関して相談などがある場合、管理者に対してメッセージを送ることができる。(予定)<br><br>
      </td>
    </tr>
    <tr>
      <th class="d-flex align-items-start">サイトの目的</th>
      <td>売りたい人、買いたい人を繋ぎ、買い物をより身近にする<br><br></td>
    </tr>
    <tr>
      <th class="d-flex align-items-start">設立の理由、主な利用シーン</th>
      <td>
        以前から通信販売は普及していたが、コロナ禍により更に需要が高まった。<br>
        物販サイトは日常生活に不可欠な存在であり、今や消費するだけではなく個人が売り買いする時代となっている。<br>
        購入者は現地に赴かなくても商品を選んだり、ほしいイメージに近いものを探すことができる。<br>
        また、忙しくて買い物に行けない、交通手段がない、重いものが運べないなどの理由で、買い物に時間を割くことが<br>
        できない人に活用してもらうことで時間短縮になる。<br>
        販売者はインターネット販売することで多くの人の目に触れるため、地元地域以外にも自社商品をアピールでき、<br>
        売上アップが期待される。<br>
        サイズが合わなくなった、新しいものを買った、まだ使えるけど捨てるのはもったいない、小遣い稼ぎがしたい、<br>
        引っ越しにより不用品が出たなど、中古品として販売することで断捨離することができる。<br>
        その他には、販売に興味はあるけど起業するのはハードルが高いと感じているなど、ステップアップの場にもなる。
      </td>
    </tr>
  </table>
<br>