<!--<h1>Public::Members#complete</h1>-->
<!--<p>Find me in app/views/public/members/complete.html.erb</p>-->
<br>
<h2><span class="m-5" style="background-color:lightgray">　退会手続き完了　</span></h2>
<br><br><br><br>
<h2 class="text-center"><b>ご利用ありがとうございました！</b></h2>
<br><br><br><br>
<div class="text-center">
    <!--遷移先：public/homes#top(トップページ)-->
    <%= link_to "トップページに戻る", root_path, class: "btn btn-primary" %>
</div>