<!--<h1>Public::Members#unsubscribe</h1>-->
<!--<p>Find me in app/views/public/members/unsubscribe.html.erb</p>-->
<br><br><br>
<h2 class="text-center"><b>本当に退会しますか？</b></h2>
<br>
<div class="text-center">
  <p>退会すると、アカウントからアクセスしていたすべての商品とサービスが利用できなくなります。</p>
  <p><b><u>※一度退会すると現在のアカウントは利用できなくなり、復元できません。</u></b></p>
  <p><b><u>再びサービスを利用するにはアカウントを新たに作成する必要があります。</u></b></p>
  <p>退会する場合には、「退会する」ボタンをクリックして下さい。</p>
</div>
<br>
<div class="text-center">
    <!--遷移先：public/members#show(マイページ)-->
    <%= link_to "退会しない", members_my_page_path, class: "btn btn-primary" %>　　　
    <!--遷移先：public/members#withdraw(顧客の退会処理)-->
    <%= link_to "退会する", members_withdraw_path, class: "btn btn-danger", method: :PATCH, "data-confirm" => "本当に退会しますか？" %>
</div>
<br>