<!--<h1>Public::BuyOrders#complete</h1>-->
<!--<p>Find me in app/views/public/buy_orders/complete.html.erb</p>-->
<br><br><br><br><br><br>
<h2 style="text-align:center">ご注文ありがとうございました！</h2>
<br><br><br><br><br><br>
<div class="text-center">
    <%= link_to "トップページに戻る", root_path, class: "btn btn-primary" %><!--遷移先：public/homes#top-->
</div>
